{% extends "zegilooocandidatsFCBundle::layout.html.twig" %}
{% block title %}{{action}} TypePrestation{% endblock %}
{% block body %}
         <h1>{{action}} un TypePrestation</h1>
{{form(formulaire)}}
{% endblock %}