{% extends "zegilooocandidatsFCBundle::layout.html.twig" %}
{% block title %}{{action}} une action{% endblock %}
{% block body %}
         <h1>{{action}} une action</h1>
{{form(formulaire)}}
{% endblock %}