{% extends "zegilooocandidatsFCBundle::layout.html.twig" %}
{% block title %}{{action}} TypeFC{% endblock %}
{% block body %}
         <h1>{{action}} un TypeFC</h1>
{{form(formulaire)}}
{% endblock %}