{% extends "zegilooocandidatsFCBundle::layout.html.twig" %}
{% block title %}{{action}} une tâche{% endblock %}
{% block body %}
         <h1>{{action}} une tâche</h1>
{{form(formulaire)}}
{% endblock %}